<nav>
  <ul>

    <!-- Welcome navigation point -->
    <li>
      <a md-button routerLink="">
        <i class="material-icons">home</i>
        <span class="navpoint">Welcome</span>
      </a>
    </li>

    <!-- Aboutme navigation point -->
    <li>
      <a md-button routerLink="/aboutme">
        <i class="material-icons">info</i>
        <span class="navpoint">Aboutme</span>
      </a>
    </li>

    <!-- Projects navigation point -->
    <li>
      <a md-button routerLink="/projects">
        <i class="material-icons">work</i>
        <span class="navpoint">Projects</span>
      </a>
    </li>

    <!-- Github navigation point -->
    <li>
      <a md-button target="_blank" href="https://github.com/hellobasti">
        <span>
          <img src="assets/images/github.png" class="github-image">
          <span class="navpoint">Github</span>
        </span>
      </a>  
    </li>

  </ul>
</nav>
