<nav>
  <ul>

    <!-- Welcome navigation point -->
    <li>
      <button md-button>
        <i class="material-icons">home</i>
        <span class="navpoint">&lt;Welcome&gt;</span>
      </button>
    </li>

    <!-- Aboutme navigation point -->
    <li>
      <button md-button>
        <i class="material-icons">info</i>
        <span class="navpoint">&lt;Aboutme&gt;</span>
      </button>
    </li>

    <!-- Projects navigation point -->
    <li>
      <button md-button>
        <i class="material-icons">work</i>
        <span class="navpoint">&lt;Projects&gt;</span>
      </button>
    </li>

    <!-- Github navigation point -->
    <li>
      <button md-button>
        <span>
          <img src="assets/images/github.png" class="github-image">
          <span class="navpoint">&lt;Github&gt;</span>
        </span>
      </button>  
    </li>

  </ul>
</nav>
