<md-toolbar color="primary">
  <span class="header">&lt;Welcome&gt;</span>
</md-toolbar>
<div class="content">
    <p>
<!--      Hi and welcome to my website. My name is Bastian, I'm 24 and I work as a software developer in 
      Nuremberg, Germany. Software developing isn't only my job, it also influences my private life. 
      Therefore I'm very interested in new technologies and how they work. As programming is one of 
      my passions, this website is meant to keep you updated about my private side projects.
      Thank you for visiting my website. I hope you like it.-->
    </p> 
</div>
